<!DOCTYPE html>
<html>

<head>
    <title><%= @page_title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%if current_user.is_a?(OpenStruct) %> <%#checking for the class it belongs to user or OpenStruct!%>
    <%=link_to "Register", new_user_registration_path %>
    <%=link_to "Login", new_user_session_path %>
    <%else%>
    <%=link_to "logout", destroy_user_session_path, method: :delete%>

    <%end%>


    <%= yield %>
    <div>
        <div><%= link_to "Blogs", blogs_path %></div>
        <div><%= link_to "Portfolio", portfolios_path %></div>
        <div><%= link_to "Home", root_path %></div>
        <div><%= link_to "About", about_path %></div>
        <div><%= link_to "Contact", contact_path %></div>

    </div>
    <% if session[:source]%>
    Thanks for visiting me from <%=session[:source]%>
    <%end%>
</body>

</html>