<!DOCTYPE html>
<html>

<head>
    <title><%= @page_title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/nav", location: 'top'%>
    <%if current_user.is_a?(OpenStruct) %> <%#checking for the class it belongs to user or OpenStruct!%>
    <%=link_to "Register", new_user_registration_path %>
    <%=link_to "Login", new_user_session_path %>
    <%else%>
    <%=link_to "logout", destroy_user_session_path, method: :delete%>

    <%end%>


    <%= yield %>
    <% if session[:source]%>
    Thanks for visiting me from <%=session[:source]%>
    <%end%>
</body>

</html>